<!DOCTYPE html>

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 align="center">Welcome</h1>
    <p align="center">This content is served to you by....</p>
    <a href="https://www.google.com"> Go to Search Engine</a>
    <img src="\static\1.jpg" class="center">
    <h2 align="center">The server</h2>
  </body>
</html>
